<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag "registrations.css" %>
  <head>
    <title>Rejestracja</title>
    <link href='http://fonts.googleapis.com/css?family=Poppins&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  </head>
  <body>
    <section>
      <div>
        <%= image_tag "Wersja5.png", class: "logo" %>
      </div>
      <div id="box">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <!--<div class="lewa">-->
            <h2>Rejestracja</h2>

            <div class="field">
              <ion-icon name="pricetag-outline"></ion-icon>
              <%= f.label :nick, class: "etykieta" %><br />
              <%= f.text_field :nick, autofocus: true, autocomplete: "nick", class: "okno"  %>
            </div>

            <div class="field">
              <ion-icon name="mail-outline"></ion-icon>
              <%= f.label :email, class: "etykieta" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "okno"  %>
            </div>

            <div class="field">
              <ion-icon name="lock-open-outline"></ion-icon>
              <%= f.label :password, class: "etykieta" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> znaków minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "okno"  %>
            </div>

            <div class="field">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <%= f.label :password_confirmation, class: "etykieta" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "okno"  %><br/>
            </div>

            <%= recaptcha_tags %>

            <div class="actions"><br/>
              <%= f.submit "Sign up", class: "guzik"%>
            </div>

            <div class="powrot">
              <%= link_to "Powrót do strony głównej", '/', class: "linczek" %>
            </div>
          <!--</div>
          <div class="prawa">-->
            <%= render "devise/shared/error_messages", resource: resource %>
          <!--</div>-->
        <% end %>
        <!--<%= render "devise/shared/links" %>-->
      </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>